# Dependency hoisting
#--------------------------------------------------

shamefully-hoist = true

# Peer dependency
#--------------------------------------------------

strict-peer-dependencies = false

# CLI
#--------------------------------------------------

engine-strict = true
